<% provide(:title, 'Teams') %>
<h1>NBA teams</h1>

<table class="teams">
  <tr>
    <th>
      
    </th>
    <th>
      Team
    </th>
    <th>
      Conf
    </th>
    <th>
      score
    </th>
    <th>
      pos
    </th>
    <% if current_user.admin? %>
    <th>
    </th>
    <% end %>
  </tr>
  <% @teams.each do |team| %>
    <%= render team %>
  <% end %>
</table>
<% if current_user.admin? %>
<div class = "adder-cont">
  <%= link_to "Add new team!", 'teams/new', class: "btn adder btn-lg btn-primary" %>    
</div>
<% end %>
