<% provide(:title, 'Add team') %>
<h1>Add new team</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@team, html: { multipart: true }) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create team", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>