<div class="center jumbotron">
  <h1>KLADARA</h1>

  <h2>
    NBA standings prediction between Gogo and Tino
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
