<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<table class="users">
    <tr>
    <th>
      
    </th>
    <th>
      User
    </th>
    <th>
      Email
    </th>
    <% if current_user.admin? %>
    <th>
    </th>
    <% end %>
  </tr>
  <%= render @users %>
</table>
<%= will_paginate %>