<% provide(:title, 'Players in bet') %>
<h1>All players</h1>

<table class="players">
  <tr>
    <th>
      
    </th>
    
    <th>
      Player
    </th>
    <th>
      Pts
    </th>
    <th>
      Bets
    </th>
    <th>
      Predictions
    </th>
    <% if current_user.admin? %>
    <th>
    </th>
    <% end %>
  </tr>
  <% @players.each do |player| %>
    <%= render player %>
  <% end %>
</table>

<% if current_user.admin? %>
<div class = "adder-cont">
  <%= link_to "Add new player!", 'players/new', class: "btn adder btn-lg btn-primary" %>     
</div>
<% end %>
  